
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git

[submodule "libs/gtest"]
	path = libs/gtest
	url = https://github.com/google/googletest.git
[submodule "libs/easyloggingpp"]
	path = libs/easyloggingpp
	url = https://github.com/amrayn/easyloggingpp.git
